@import url('./search.css');
@import url('./navigation.css');

.header{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    background-color: var(--gray50);
}