:root{
    --sidebarInlineSiza:15rem;
    --minBlockSize:37.5rem;
    --minInlineSize:48rem;
    --bottonSize:5.5rem;
}
.layout{
   min-inline-size: var(--minInlineSize);
}
.layout-sidebar{
    min-block-size: var(--minBlockSize);
    block-size: calc(100vh - var(--bottonSize));
    inline-size: var(--sidebarInlineSiza);
    overflow: auto;
    flex-shrink: 0;
    background-color: var(--gray60);
}
.layout-main{
    min-block-size: var(--minBlockSize);
    block-size: calc(100vh - var(--bottonSize));
    overflow: auto;
}
.layout-bottom{
    flex: 1;
    block-size: var(--bottonSize);
}
.layout-block{
    display: flex;
}
