@import url('./playlist-list.css');
@import url('./header.css');
.page{
    padding-inline:1.5rem;
    padding-block-end: 1.5rem;
}
.page-block{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.page .header{
    margin-block-end: 1rem;
    margin-inline: -1.5rem;
}