.playerPlayback{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.playerPlayBack-slider{
    flex: 1;
}
.playerPlayback-progressTime{
    line-height: 1;
    position: relative;
    top: 1px;
    font: var(--small);
}
