@import url('./logo.css'); 
@import url('./list.css'); 
@import url('./menu.css'); 

.sidebar{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    padding-block: 1.5rem;
    background-color: var(--gray60);
}
